/*
 * GENERAL
 */
html {
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /*background-color: #f9f9f3;*/
  color: #34495e;
  font-family: 'San Francisco', Helvetica, Arial, 'Microsoft Yahei', 'PingFang SC', 'Heiti SC', sans-serif;
}

a {
  color: #4497ad;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color .3s;
}

a:hover {
  border-color: #4497ad;
}

input, textarea, select, button {
  font-family: inherit;
}

code {
  font-family: consolas, monospace;
}

/*
 * HEADER
 */
/*.page-header {
  background: #f6f2e0;
  padding: 0 20px;
}*/

.page-header h1 {
  margin: 0;
  padding: 0.6em 0;
  font-size: 2rem;
  font-family: 'Microsoft Jhenghei';
  text-align: center;
}

.page-header h1 a {
  color: #216678;
}

.page-header h1 ruby {
  ruby-align: center;
}

.page-header h1 rt {
  font-weight: normal;
  font-size: .375em;
  font-family: 'Segoe UI', 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}

/*
 * BODY
 */
.page-body {
  width: 100%;
  max-width: 1024px;
  padding: 2em 20px 0;
  margin: 0 auto;
  background-color: #fff;
}

/* CONTENT */
.page-content {
  float: left;
  width: 100%;
  max-width: 768px;
}

.article {
  margin: 1em 0 4em;
  font-size: 1rem;
}

.article:first-child {
  margin-top: 0;
}

.article-title {
  margin: 0 0 .25em;
  color: #216678;
  font-size: 1.375em;
}

.article-meta {
  /*color: #93abb3;*/
  color: #bdc3c7;
  font-size: 0.875em;
}

.article-meta time {
  margin-right: .5em;
}

.article-meta a {
  margin-right: 0.5em;
}

.article-content p {
  margin: 1.4em 0;
}

.article-more {
  display: block;
  width: 70%;
  padding: .6em 0;
  border-bottom: 1px solid #ecf0f1;
  margin: 0 auto;
  text-align: center;
}

/* ASIDE */
.page-aside-panel {
  margin-bottom: 3em;
  font-size: 0.875rem;
}

.page-aside-panel h2 {
  margin: 0 0 1em;
  color: #216678;
  font-size: 1.2857142857142858em;
}

/*
 * RESPONSIVE
 */
@media (min-width: 768px) {
  .page-header h1 {
    padding: 1.2em 0;
  }

  .page-body {
    display: flex;
  }

  .page-content {
    flex: 1;
  }

  .article {
    font-size: .9375rem;
  }

  .article-more {
    padding: 1em 0;
  }

  .page-aside {
    float: right;
    width: 250px;
    margin-left: 50px;
  }
}
